<div style = "width: 300px; display: inline-block;" class="card">    
    <div class="card-body">
      <h5 class="card-title"><%=user%></h5>
    <p class="card-text">Pending Friend</p>
    <button id="<%=user%>" type="button" class="btn btn-success">Add Friend</button>
    <button id="<%=user%>" type="button" class="btn btn-danger">Decline Friend</button>
    </div>
  </div>