<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <style>
        canvas {
          width: 800px;
          height: 600px;
          border: 5px solid black;
        }
      </style>
</head>
<body>
    
    <canvas id="canvas"></canvas>

</body>
<script src="/js/game.js"></script>
</html>