/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-image: url("assets/background.jpg");
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */

.headermain{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cccccc;
}

.headermain ul{
    display: inline-block;
}

.headermain li{
    display: inline-block;
}

.login-form{
    width: 300px;
    height: auto;
    
}

.dashboard-main{    
    background-color: white;
    width: 1000px;
    margin: 100px auto auto auto;
    height: auto;
    overflow :hidden;
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
}

.dashboard-left{
    display: inline-block;
    width: 68%;
    height: auto; 
    padding: 20px;   
}

.dashboard-right{
    display: inline-block;
    float:right;
    padding: 10px;
    
}

.register-main{
    width: 50%;
    margin: auto;  
    
    padding: 50px;
}

.register-main form{
    width: 320px;
    margin: auto;
    
}

.register-background{    
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
   
}

.errormessage{
    width: 50%;
    margin: auto;
    position: absolute;
    top: 58px;
}

.admin-main{
    width: 1200px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.75);
}

.game-main{
    width: 1280px;
    margin: auto;
    height: 720px;
    background: white;
    margin-top: 100px;
}

.game-top-header{
    width: 100%;
    height: 64px;
    background-color: rgb(65, 65, 65);
}

.game-top-header li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.game-top-header li:hover{
    background-color: red;
}

.game-main-options{
    background-color: rgba(119, 119, 119, 0.198);
    width: 80%;
    height:80%;
    margin: auto;
    margin-top: 25px;
}

.gamebuttonhover:hover{
    background-color: burlywood;
    cursor: pointer;
}

.hover-disabled:hover{
    background-color: rgba(83, 83, 83, 0.418);
    filter: grayscale(100%);
    cursor: not-allowed;
}

.player1{
    width: 200px;
    background-color: burlywood;
}

.player2{
    width: 200px;
    background-color: rgb(2, 1, 1);
}


